<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d56d67">  <td>18/11/23 11:23:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>18/11/23 11:24:00</td>   <td>26355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>18/11/23 11:24:01</td>   <td>27103</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>18/11/23 11:24:00</td>   <td>27041</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>18/11/23 11:23:05</td>   <td>-28702</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>18/11/23 11:23:06</td>   <td>-27813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>18/11/23 11:23:34</td>   <td>702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>18/11/23 11:23:05</td>   <td>-28905</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/23 11:23:33</td>   <td>-448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LogInLogout.logInLogOut(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">logInLogOut</td> 
  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/23 11:23:59</td>   <td>25910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LogInLogout.logInLogOut(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">logInLogOut</td> 
  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/23 11:23:05</td>   <td>-28718</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LogInLogout.setData()[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1050349584</td>   <td></td> </tr>
</table>
