<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d56d67">  <td>18/11/25 19:31:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>18/11/25 19:31:58</td>   <td>7704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>18/11/25 19:31:59</td>   <td>8702</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>18/11/25 19:31:59</td>   <td>8655</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>18/11/25 19:31:42</td>   <td>-8455</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>18/11/25 19:31:42</td>   <td>-7941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>18/11/25 19:31:51</td>   <td>691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>18/11/25 19:31:41</td>   <td>-8830</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/25 19:31:47</td>   <td>-2556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LogInLogout.logInLogOut(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">logInLogOut</td> 
  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/25 19:31:55</td>   <td>5095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LogInLogout.logInLogOut(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">logInLogOut</td> 
  <td>main@1050349584</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/25 19:31:42</td>   <td>-8455</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LogInLogout.setData()[pri:0, instance:testcases.TC001_LogInLogout@5702b3b1]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1050349584</td>   <td></td> </tr>
</table>
